<div class="form-group row">
    <label for="inputEmail1" class="col-md-3 col-sm-2 control-label">Start Date<span>*</span></label>
      <div class="col-md-7">
        <%= f.text_field :start_date,class:"form-control datepicker", id:"inputEmail1", placeholder:"Start Date",:autocomplete => :off,:required => true%>
      </div>
  </div>
  <div class="form-group row" id="data">
    <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">End Date<span>*</span></label>
    <div class="col-md-7">
      <%= f.text_field :end_date ,class:"form-control datepicker", id:"inputPassword1", placeholder:"End Date",:autocomplete => :off,:required => true%>
    </div>
  </div>
  <div id="checklist">
    <%if params[:action] == "edit"%>
      <%= render "list"%>
    <%end%>
  </div>

<div class="form-group row">
  <label for="inputPassword1" class="col-md-3 col-sm-2 control-label">Reason For Leave<span>*</span></label>
  <div class="col-md-7">
    <%= f.text_area :reason_for_leave,class:"form-control", id:"inputPassword1", placeholder:"Reason For Leave",:required => true%>
  </div>
</div>


<script>
$(".datepicker").datepicker({dateFormat: 'yy-mm-dd' , minDate: 0});

$(document).on("change","#data",function(){
  var start_date = $('#inputEmail1').val();
  var end_date = $('#inputPassword1').val();
  $.ajax({
      method: "GET",
      url: '/leaves/list',
      data: {start_date :start_date,end_date:end_date}
  });
});
</script>




