<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      <b>Apply For Leaves</b>
      <hr style="border: 1px solid black;margin-top: 1px;margin-bottom: 0; ">
    </header>
    <div class="panel-body">
      <%= nested_form_for(@leave) do |f| %>
      <form class="form-horizontal" role="form">
         <div class="error_msg">
           <%= render "error_messages", :target => @leave %>
          </div>
         <%= render 'form', :f => f %>
         <div class="form-group row">
           <div class="col-md-offset-3 col-md-10">
             <%= f.submit "Save",class:"btn btn-info" %>
            </div>
          </div>
        </form>
      <% end %>
    </div>
  </section>
</div>