<div class="container form-signin">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Forgot your password?</h2>
   <div class="login-wrap">
      <%= f.email_field :email,class:"form-control", placeholder:"Email"%>
      <label class="checkbox"></label>
      <%= f.submit "Send me",class:"btn btn-lg btn-login btn-block" %>
    </div>
  <%end%>
</div>